In [0]:
import os
import pandas as pd
import tqdm
from tqdm import tqdm_notebook
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [0]:

df_loan = pd.read_csv( "loan.csv")
df_loan.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  member_id  ...  total_bc_limit  total_il_high_credit_limit
0  1077501    1296599  ...             NaN                         NaN
1  1077430    1314167  ...             NaN                         NaN
2  1077175    1313524  ...             NaN                         NaN
3  1076863    1277178  ...             NaN                         NaN
4  1075358    1311748  ...             NaN                         NaN

[5 rows x 111 columns]

In [0]:
df_loan.shape

(39717, 111)

In [0]:
Coloums = df_loan.columns
Coloums

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [0]:
print("checking if any null values are present\n", df_loan.isna().sum())

checking if any null values are present
 id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
                                  ...
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
Length: 111, dtype: int64

* Minimum number of NaNs in the coloumns is 3/4 of the Total Data*

In [0]:
df_loan = df_loan.dropna(thresh = (df_loan.shape[0]*(3/4)), axis = 1)

In [0]:
df_loan.head()

        id  member_id  loan_amnt  ...  delinq_amnt  pub_rec_bankruptcies tax_liens
0  1077501    1296599       5000  ...            0                   0.0       0.0
1  1077430    1314167       2500  ...            0                   0.0       0.0
2  1077175    1313524       2400  ...            0                   0.0       0.0
3  1076863    1277178      10000  ...            0                   0.0       0.0
4  1075358    1311748       3000  ...            0                   0.0       0.0

[5 rows x 53 columns]

In [0]:
df_loan.shape

(39717, 53)

In [0]:
print("checking if any null values are present\n", df_loan.isna().sum())

checking if any null values are present
 id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [0]:
 df_String_Columns = df_loan.select_dtypes(include=['object'])

In [0]:
 df_String_Columns.columns

Index(['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d',
       'last_credit_pull_d', 'application_type'],
      dtype='object')

In [0]:
 df_String_Columns.count()

term                   39717
int_rate               39717
grade                  39717
sub_grade              39717
emp_title              37258
emp_length             38642
home_ownership         39717
verification_status    39717
issue_d                39717
loan_status            39717
pymnt_plan             39717
url                    39717
purpose                39717
title                  39706
zip_code               39717
addr_state             39717
earliest_cr_line       39717
revol_util             39667
initial_list_status    39717
last_pymnt_d           39646
last_credit_pull_d     39715
application_type       39717
dtype: int64

 **Convert Load Status to class variables from string**

In [0]:
#loan_status_dict = { 'Fully Paid': 0,  'Charged Off': 1, 'Current': 2}
df_loan['loan_status'] = df_loan['loan_status'].map( { 'Fully Paid': 0,  'Charged Off': 1, 'Current': 2})

**Convert  string features into Numerics**

In [0]:
df_loan['verification_status'] = df_loan['verification_status'].map({'Verified':2,'Source Verified':1,'Not Verified':0})

In [0]:
df_loan['revol_util'] = df_loan['revol_util'].fillna('0.0%')

df_loan['revol_util'] = df_loan['revol_util'].apply(lambda x:float(x[:-1]) )

In [0]:
df_loan['int_rate'] = df_loan['int_rate'].apply(lambda x:float(x[:-1]) )

In [0]:
df_loan['grade'] = df_loan['grade'].map({'A':7,'B':6,'C':5,'D':4,'E':3,'F':2,'G':1})

In [0]:
df_loan["home_ownership"] = df_loan["home_ownership"].map({"MORTGAGE":5,"RENT":4,"OWN":3,"OTHER":2,"NONE":1})

In [0]:
df_loan['emp_length'] = df_loan['emp_length'].fillna(0)
df_loan['emp_length'] = df_loan['emp_length'] .replace({'years':'','year':'',' ':'','<':'','\+':''}, regex = True)
df_loan['emp_length']= df_loan['emp_length'].apply(lambda x:int(x))

In [0]:
df_loan['term'] = df_loan['term'].fillna(0)
df_loan['term'] = df_loan['term'] .replace({'months':'',' ':''}, regex = True)
df_loan['term']= df_loan['term'].apply(lambda x:int(x))

In [0]:
df_loan

            id  member_id  ...  pub_rec_bankruptcies  tax_liens
0      1077501    1296599  ...                   0.0        0.0
1      1077430    1314167  ...                   0.0        0.0
2      1077175    1313524  ...                   0.0        0.0
3      1076863    1277178  ...                   0.0        0.0
4      1075358    1311748  ...                   0.0        0.0
5      1075269    1311441  ...                   0.0        0.0
6      1069639    1304742  ...                   0.0        0.0
7      1072053    1288686  ...                   0.0        0.0
8      1071795    1306957  ...                   0.0        0.0
9      1071570    1306721  ...                   0.0        0.0
10     1070078    1305201  ...                   0.0        0.0
11     1069908    1305008  ...                   0.0        0.0
12     1064687    1298717  ...                   0.0        0.0
13     1069866    1304956  ...                   0.0        0.0
14     1069057    1303503  ...                   0.0        0.0
15     1069759    1304871  ...                   0.0        0.0
16     1065775    1299699  ...                   0.0        0.0
17     1069971    1304884  ...                   0.0        0.0
18     1062474    1294539  ...                   0.0        0.0
19     1069742    1304855  ...                   0.0        0.0
20     1069740    1284848  ...                   0.0        0.0
21     1039153    1269083  ...                   0.0        0.0
22     1069710    1304821  ...                   0.0        0.0
23     1069700    1304810  ...                   0.0        0.0
24     1069559    1304634  ...                   0.0        0.0
25     1069697    1273773  ...                   0.0        0.0
26     1069800    1304679  ...                   0.0        0.0
27     1069657    1304764  ...                   0.0        0.0
28     1069799    1304678  ...                   0.0        0.0
29     1047704    1278806  ...                   0.0        0.0
...        ...        ...  ...                   ...        ...
39687   111307     105982  ...                   NaN        NaN
39688   111227     111223  ...                   NaN        NaN
39689   109355     109346  ...                   NaN        NaN
39690   107136     107130  ...                   NaN        NaN
39691   106360     106333  ...                   NaN        NaN
39692    76597      76583  ...                   NaN        NaN
39693   106079     106039  ...                   NaN        NaN
39694    90966      90962  ...                   NaN        NaN
39695    92440      92423  ...                   NaN        NaN
39696   102376      95212  ...                   NaN        NaN
39697   101579     100083  ...                   NaN        NaN
39698    98982      98957  ...                   NaN        NaN
39699    98339      97572  ...                   NaN        NaN
39700    98276      98268  ...                   NaN        NaN
39701    96844      95222  ...                   NaN        NaN
39702    96350      96338  ...                   NaN        NaN
39703    94838      73673  ...                   NaN        NaN
39704    93277      93254  ...                   NaN        NaN
39705    93061      93057  ...                   NaN        NaN
39706    92676      92671  ...                   NaN        NaN
39707    92666      92661  ...                   NaN        NaN
39708    92552      92542  ...                   NaN        NaN
39709    92533      92529  ...                   NaN        NaN
39710    92507      92502  ...                   NaN        NaN
39711    92402      92390  ...                   NaN        NaN
39712    92187      92174  ...                   NaN        NaN
39713    90665      90607  ...                   NaN        NaN
39714    90395      90390  ...                   NaN        NaN
39715    90376      89243  ...                   NaN        NaN
39716    87023      86999  ...                   NaN        NaN

[39717 rows x 53 columns]

**Find All Numerics Coloumns in the Processed Data**

In [0]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
df_Numerics_Columns = df_loan.select_dtypes(include=numerics)

In [0]:
# Number of Coloumsn with Numerics 
df_Numerics_Columns.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [0]:
# Replace NaNs with mean vlaue
for i in range(0,len(df_Numerics_Columns.columns)):
  df_loan[df_Numerics_Columns.columns[i]] = df_loan[df_Numerics_Columns.columns[i]].fillna(df_loan[df_Numerics_Columns.columns[i]].mean())

In [0]:
print("checking if any null values are present\n", df_loan[df_Numerics_Columns.columns].isna().sum())

checking if any null values are present
 id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
loan_status                   0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

**Replace NaNs with Zeros **

In [0]:
df_loan_1 = df_loan[df_Numerics_Columns.columns]

In [0]:
corr_matrix = df_loan_1.corr()
corr_matrix['loan_status'].sort_values(ascending=False)

loan_status                   1.000000
out_prncp                     0.528067
out_prncp_inv                 0.527508
term                          0.313396
int_rate                      0.246591
recoveries                    0.237785
total_rec_int                 0.222922
id                            0.154953
member_id                     0.148226
collection_recovery_fee       0.143521
loan_amnt                     0.132566
funded_amnt                   0.129093
funded_amnt_inv               0.122327
total_rec_late_fee            0.119011
verification_status           0.093135
revol_util                    0.090518
installment                   0.058768
dti                           0.057713
inq_last_6mths                0.043814
emp_length                    0.037607
pub_rec                       0.031822
pub_rec_bankruptcies          0.030715
revol_bal                     0.026956
delinq_2yrs                   0.013581
open_acc                      0.009954
home_ownership                0.007857
total_acc                    -0.004407
annual_inc                   -0.018711
total_pymnt_inv              -0.038844
total_pymnt                  -0.046620
total_rec_prncp              -0.165251
grade                        -0.214601
last_pymnt_amnt              -0.224203
collections_12_mths_ex_med         NaN
policy_code                        NaN
acc_now_delinq                     NaN
chargeoff_within_12_mths           NaN
delinq_amnt                        NaN
tax_liens                          NaN
Name: loan_status, dtype: float64

**Selection of the features for the model**

In [0]:
features = ['loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc',  'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
        'pub_rec_bankruptcies','verification_status','revol_util','loan_status']

**Creating an ew data frames for the new features**

In [0]:
df_loan_2=df_loan_1[features]

In [0]:
# Count Total number of units in each class
df_loan_2['loan_status'].value_counts()

0    32950
1     5627
2     1140
Name: loan_status, dtype: int64

**In order to elimate model to have selection bias to one catageory need to select same amount of data from each catagory**

In [0]:
# Selecting the random 1140 samples from each data category and Contacate the all three cateogy to form new data frame
loanstatus_0 = df_loan_2[df_loan_2["loan_status"]==0]
loanstatus_1 = df_loan_2[df_loan_2["loan_status"]==1]
loanstatus_2 = df_loan_2[df_loan_2["loan_status"]==2]
subset_of_loanstatus_0 = loanstatus_0.sample(n=1140)
subset_of_loanstatus_1 = loanstatus_1.sample(n=1140)
subset_of_loanstatus_2 = loanstatus_2.sample(n=1140)
data = pd.concat([subset_of_loanstatus_2,subset_of_loanstatus_1, subset_of_loanstatus_0])
data = data.sample(frac=1).reset_index(drop=True)
print("Current shape of dataset :",data.shape)
data.head()

Current shape of dataset : (3420, 31)

   loan_amnt  funded_amnt  ...  revol_util  loan_status
0      15000        15000  ...        80.7            0
1       5000         5000  ...        53.2            1
2       4200         4200  ...        62.1            0
3      13800        13800  ...        68.9            0
4      10000        10000  ...         6.8            0

[5 rows x 31 columns]

In [0]:
X, Y = data.iloc[:,:-1].values, data.iloc[:,-1].values

In [0]:
X.shape

(3420, 30)

In [0]:
Y.shape

(3420,)

**Normalizing the input features**

In [0]:
#Min 
a = 0
# Max
b = 1
# Function for narmalizing the Min and Max
def Normalization_Transform(x, a,b):
    x_min=np.amin(x, axis=0)
    x_max=np.amax(x, axis=0)
    xn = a +((x-x_min) *( (b-a)/(x_max - x_min)))
    return xn, x_min, x_max

In [0]:
def Normalization_Test_Transform(x,x_min,x_max, a,b):
   
    xn = a +((x-x_min) *( (b-a)/(x_max - x_min)))
    return xn

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [0]:
X_train.shape

(2736, 30)

In [0]:
X_test.shape

(684, 30)

In [0]:
X_train_Norm,X_min, X_max = Normalization_Transform(X_train,a,b)
X_test_Norm=  Normalization_Test_Transform( X_test,X_min, X_max,a,b)

In [0]:
import sklearn as sk
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [0]:
LR = LogisticRegression(C= 1000,penalty= 'l1').fit(X_train_Norm, y_train)
predictproba_LR =LR.predict(X_test_Norm)
print("Training  set LR Accuracy",round(LR.score(X_train_Norm, y_train), 4)*100)
print("Testing  set  LR Accuracy",round(LR.score(X_test_Norm,y_test), 4)*100)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training  set LR Accuracy 99.85000000000001
Testing  set  LR Accuracy 99.27

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [0]:

clf_svm = svm.SVC(C = 100,gamma='scale',decision_function_shape="ovo",kernel= 'linear').fit(X_train_Norm, y_train)
predictproba_SVM = clf_svm.predict(X_test_Norm)
print("Training SVM Accuracy",round(clf_svm.score(X_train_Norm, y_train), 4)*100)
print("Testing  SVM Accuracy",round(clf_svm.score(X_test_Norm, y_test), 4)*100)

Training SVM Accuracy 99.2
Testing  SVM Accuracy 98.39

In [0]:
RF = RandomForestClassifier(bootstrap=True, max_depth= 30, n_estimators=200, random_state=0).fit(X_train_Norm, y_train)

predictproba_RF = RF.predict(X_test_Norm)
print("Training Random Forest  Accuracy",round(RF.score(X_train_Norm, y_train), 4)*100)
print("Testing  Random Forest  Accuracy",round(RF.score(X_test_Norm,y_test), 4)*100)

Training Random Forest  Accuracy 100.0
Testing  Random Forest  Accuracy 99.27

In [0]:
NN = MLPClassifier(solver='lbfgs', alpha=1e-3, max_iter= 1900, hidden_layer_sizes=14,random_state=0).fit(X_train_Norm, y_train)

predictproba_NN = NN.predict(X_test_Norm)
print("Training Neural Networks  Accuracy",round(NN.score(X_train_Norm, y_train), 4)*100)
print("Testing  Neural Networks  Accuracy",round(NN.score(X_test_Norm,y_test), 4)*100)

Training Neural Networks  Accuracy 100.0
Testing  Neural Networks  Accuracy 97.81

In [0]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=7,metric='manhattan',weights = 'distance').fit(X_train_Norm, y_train)
predictproba_KNN = neigh.predict(X_test_Norm)
print("Training K Nearest Neighbour",round(neigh.score(X_train_Norm, y_train), 4)*100)
print("Testing  K Nearest Neighbour",round(neigh.score(X_test_Norm,y_test), 4)*100)

Training K Nearest Neighbour 100.0
Testing  K Nearest Neighbour 84.36

**Precision,recall,F1score for all models**

In [0]:

from sklearn import metrics

print("LR",metrics.classification_report(y_test, predictproba_LR, digits=3))
print("SVM",metrics.classification_report(y_test,predictproba_SVM , digits=3))
print("RF",metrics.classification_report(y_test,predictproba_RF,digits=3))
print("MLP",metrics.classification_report(y_test, predictproba_NN, digits=3))
print("KNN",metrics.classification_report(y_test, predictproba_KNN, digits=3))

LR               precision    recall  f1-score   support

           0      0.984     1.000     0.992       243
           1      0.996     0.987     0.991       226
           2      1.000     0.991     0.995       215

    accuracy                          0.993       684
   macro avg      0.993     0.992     0.993       684
weighted avg      0.993     0.993     0.993       684

SVM               precision    recall  f1-score   support

           0      0.957     1.000     0.978       243
           1      1.000     0.965     0.982       226
           2      1.000     0.986     0.993       215

    accuracy                          0.984       684
   macro avg      0.986     0.984     0.984       684
weighted avg      0.985     0.984     0.984       684

RF               precision    recall  f1-score   support

           0      0.980     1.000     0.990       243
           1      1.000     0.978     0.989       226
           2      1.000     1.000     1.000       215

    accuracy                          0.993       684
   macro avg      0.993     0.993     0.993       684
weighted avg      0.993     0.993     0.993       684

MLP               precision    recall  f1-score   support

           0      0.960     0.979     0.969       243
           1      0.982     0.978     0.980       226
           2      0.995     0.977     0.986       215

    accuracy                          0.978       684
   macro avg      0.979     0.978     0.978       684
weighted avg      0.978     0.978     0.978       684

KNN               precision    recall  f1-score   support

           0      0.810     0.827     0.819       243
           1      0.872     0.752     0.808       226
           2      0.855     0.958     0.904       215

    accuracy                          0.844       684
   macro avg      0.846     0.846     0.843       684
weighted avg      0.845     0.844     0.842       684